<h2><%= @cave.name %></h2>
<ul>
<%= for survey <- @cave.surveys do %>
  <li>
    <%= link survey.name, cave_survey_path(@cave, show: survey) %>
  </li>
<% end %>
</ul>

<%= link "Edit", to: cave_path(@conn, :edit, @cave) %>
<%= link "Back", to: cave_path(@conn, :index) %>
